@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #2d3748;
}

.feature-container,
.problem-container,
.solution-container,
.contact-container {
  border: 2px solid #4a5568;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.feature-container:hover,
.problem-container:hover,
.solution-container:hover,
.contact-container:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(40) 1s 1 normal both;
}

/* Add this CSS to your stylesheet */
/* Adjust the outline styles as needed */

/* Remove the default focus outline */
:focus {
  outline: none;
}

/* Apply a custom focus style to the FontAwesome icons */
.fa-user:focus,
.fa-sign-out-alt:focus {
  outline: 2px solid blue; /* Adjust the color and thickness as needed */
}

/* For screens smaller than 640px (typical mobile devices) */
@media (max-width: 640px) {
  .typewriter {
    animation: none; /* Remove typewriter animation */
    font-size: 2rem; /* Adjust font size as needed */
    white-space: normal; /* Allow text to wrap */
  }
}
